*\$py.class
*.py[co]
*.pyc
__pycache__/**
**/_minted*/**
bin
*.aux
*.log
*.toc
*.bbl
*.blg
*.dvi
*.lol
*.lof
*.lot
*.out
*.fdb_latexmk
*.fls
*.gz
*-eps-converted-to.pdf
*.eps

todo
primary_research_notes.txt
resources/
hadamard_?.ps
